﻿@model MvcSkiResort.Models.Resort

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Resort</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BlackDiamond)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BlackDiamond)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BlueSquare)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BlueSquare)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GreenCircle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GreenCircle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TerrainPark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TerrainPark)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
