﻿@model MvcSkiResort.Models.Resort

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Resort</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BlackDiamond)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BlackDiamond)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BlueSquare)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BlueSquare)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GreenCircle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GreenCircle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TerrainPark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TerrainPark)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
