﻿@model IEnumerable<MvcSkiResort.Models.Resort>

@{
    ViewBag.Title = "Index";
}

<h2>Ski Resort Directory:</h2>

<p>
    @Html.ActionLink("Create new Resort", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlackDiamond)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlueSquare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GreenCircle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerrainPark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlackDiamond)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlueSquare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GreenCircle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerrainPark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
