﻿@model MvcSkiResort.Models.User2

@{
    ViewBag.Title = "Create";
}

<h2>Please enter your name and select the highest Experience Level you are comfortable with:</h2>
<h3>For those who are unsure about Experience Levels, A Green Circle is the easiest, Blue Square is intermediate, Black Diamond is expert, and Terrain Parks are reserved for those who wish to perform jumps or use other features such as rails.</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User Profile</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div>
            @Html.RadioButtonFor(model => model.ExpLevel, (int)MvcSkiResort.Models.ExperienceLevel.GreenCircle,
                new { @checked = "true"});
            <span>GreenCircle</span><br />
            @Html.RadioButtonFor(model => model.ExpLevel, (int)MvcSkiResort.Models.ExperienceLevel.BlueSquare);
            <span>BlueSquare</span><br />
            @Html.RadioButtonFor(model => model.ExpLevel, (int)MvcSkiResort.Models.ExperienceLevel.BlackDiamond);
            <span>BlackDiamond</span><br />
            @Html.RadioButtonFor(model => model.ExpLevel, (int)MvcSkiResort.Models.ExperienceLevel.TerrainPark);
            <span>TerrainPark</span><br />

        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
