﻿@model MvcSkiResort.Models.User2

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Users</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpLevel)
        </div>
        <div class="display-field">
            @Html.RadioButtonFor(model => model.ExpLevel, (int)MvcSkiResort.Models.ExperienceLevel.GreenCircle,
                new { @checked = "true"});
            <span>GreenCircle</span><br />
            @Html.RadioButtonFor(model => model.ExpLevel, (int)MvcSkiResort.Models.ExperienceLevel.BlueSquare);
            <span>BlueSquare</span><br />
            @Html.RadioButtonFor(model => model.ExpLevel, (int)MvcSkiResort.Models.ExperienceLevel.BlackDiamond);
            <span>BlackDiamond</span><br />
            @Html.RadioButtonFor(model => model.ExpLevel, (int)MvcSkiResort.Models.ExperienceLevel.TerrainPark);
            <span>TerrainPark</span><br />
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
