﻿@model IEnumerable<MvcSkiResort.Models.User2>

@{
    ViewBag.Title = "Index";
}

<h2>Ski Resort Searcher</h2>

<h2>To find the best Ski Resort for a user, click the "Search" link next to their name.</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Search", "Search", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
