﻿@{
    ViewBag.Title = "Search";
}

<h2>The resort with the highest number of trails matching the experience level of the chosen user will be displayed below:</h2>
<p>@ViewBag.Message1</p>
<p>@ViewBag.Message2</p>
<p>To get a look at the rest of the trails that these resorts have go check out the @Html.ActionLink("Ski Resort Directory","Index","Resort").</p>
