﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>

    <style type="text/css">
        .headings {
            text-align:center;
        }
    </style>

</head>
<body>
    <header>
        <h1 class="headings">Ski Resort Solution</h1>
        <h2 class="headings">Please navigate to the @Html.ActionLink("Snowboarder/Skier Directory","Index","User2") to create a profile.</h2>
        <h2 class="headings">Once a Profile has been created, you may navigate to the @Html.ActionLink("Ski Resort Searcher","Index","Search") to search for your best Ski Resort.</h2>
        <h2 class="headings">Otherwise, if you wish to view a full list of available Ski Resorts please navigate to the @Html.ActionLink("Ski Resort Directory","Index","Resort") .</h2>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
